# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
out
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Package manager
pnpm-lock.yaml
package-lock.json
yarn.lock

# Test coverage
coverage

# Astro
.astro
